* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

body {
    background-color: #010108;
    padding: 0px 80px;
    margin: 0;
    color: white;
    font-family: "Effra", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    margin: 0;
    width: 100%;
    max-width: 1136px;
}

h1 {
    font-size: 4.77em;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -2px;
    margin: 0px;
}

h2 {
    font-size: 3.81rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -2px;
    margin: 0px;
}

h4 {
    font-size: 1.95em;
    margin: 0;
    font-weight: 500;
}

h5 {
    font-size: 1.56em;
    margin: 0;
    font-weight: 400;
}

h6 {
    font-size: 1.25em;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    font-size: 1em;
    color: #A0A0A0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button {
    font-family: "Effra", sans-serif;
    border-radius: 100px;
    padding: 8px 16px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    transition: 150ms;
    width: fit-content;
  }
  
button:hover {
    background-color: #31A744;
     border-color: #31A744;
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
}

.white-button {
    border: 3px solid;
    background-color: rgba(0,0,0,0);
    border-color: white;
    color: white;
}

.create-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 64px;
}

.grey-button {
    border-color: #A0A0A0;
    color: #A0A0A0;
}

.purple-button {
    background-color: #6064C4;
    font-size: 1.25em;
    padding: 16px 24px;
    border: none;
}

.head-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    justify-content: center;
    font-family: "fractul-variable", sans-serif;
    font-style: italic;
    font-variation-settings: "wght" 700;
    color: #A9B4EE;
    padding-top: 40px;
    align-items: top;
    justify-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "listen listen"
        "logo more";
}

.listen {
    grid-area: listen;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: -3px;
}

.logo {
    grid-area: logo;
    width: 27px;
    height: 27px;
    padding-top: 3px;
    padding-right:2px;
}

.more {
    grid-area: more;
    font-size: 38px;
    font-variation-settings: "wght" 400;
}

.purple-ellipse {
    position: fixed;
    width: 40vw;
    height: 40vw;
    background-color: rgba(129,74,217, 0.8);
    z-index: -1;
    border-radius: 50%;
    top: -17vw;
    left: 10vw;
    filter: blur(10vw);
}
.red-ellipse {
    position: fixed;
    width: 45vw;
    height: 45vw;
    background-color: rgba(217,74,74, 0.8);
    z-index: -1;
    border-radius: 50%;
    bottom: -14vw;
    right: -3vw;
    filter: blur(14vw);
}

.login-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3rem; 
}

.options-page {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 5vh;
    height: 100%;
    gap: 2rem;
}

.options-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    gap: 1rem;
}

.options-box button {
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: "wght" 600;
    color: #A9B4EE;
    font-size: 3rem;
    width:100%;
    height:100%;
    padding: 10vh 0px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.options-box button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.playlist-page {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 5vh;
    gap: 2rem;
}
.playlists-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.playlist {
    display: flex;
    flex-direction: row;
    background-color:rgba(255,255,255,0.1);
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
    gap: 16px;
    backdrop-filter: blur(10px);
    transition: 0.2s
}

.playlist p {
    color: white;
}

.playlist:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.sliders-page {
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    justify-content: center;
    gap: 7rem; 
}

.sliders-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.sliders {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

input[type="range"] {
    margin-top: 1rem;
    width: 100%;
  }


.tracks-page{
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
}

.song-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 16px 24px;
    border-radius: 15px;
    transition: 0.2s;
}
.song-card:hover {
    background-color: rgba(94,94,94,0.5);
}

.song-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    width:60%;
}

.play-button {
    width: 5%;
}

.song-and-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
}

.song-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: 30px;
}

.album {
    width: 30%;
}

audio {
    display: none;
}