body {
    background-color: #010108;
    padding: 0px 80px;
    color: white;
    font-family: "Effra", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1136px;
}
.head-logo {
    display: grid;
    justify-content: center;
    font-family: "fractul-variable", sans-serif;
    font-style: italic;
    font-size: 27px;
    font-variation-settings: "wght" 700;
    color: #A9B4EE;
    padding-top: 40px;
    align-items: top;
    justify-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "listen listen"
        "logo more";
}

.listen {
    grid-area: listen;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: -3px;
}

.logo {
    grid-area: logo;
    padding-top: 3px;
    padding-right:2px;
}

.more {
    grid-area: more;
    font-size: 38px;
    font-variation-settings: "wght" 400;
}

.purple-ellipse {
    position: fixed;
    width: 40vw;
    height: 40vw;
    background-color: rgba(129,74,217, 0.8);
    z-index: -1;
    border-radius: 50%;
    top: -17vw;
    left: 10vw;
    filter: blur(10vw);
}
.red-ellipse {
    position: fixed;
    width: 45vw;
    height: 45vw;
    background-color: rgba(217,74,74, 0.8);
    z-index: -1;
    border-radius: 50%;
    bottom: -14vw;
    right: -3vw;
    filter: blur(14vw);
}

.container {
    width: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 16px;
}

.playlist {
    display: flex;
    flex-direction: row;
    background-color:rgba(255,255,255,0.1);
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
    gap: 16px;
    backdrop-filter: blur(10px);
    transition: 0.2s
    
}

a {
    color: inherit; 
    text-decoration: inherit;
}

h1 {
    font-size: 80px;
    margin: 0px;
    padding-bottom: 32px;
}

h5 {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
}
h6 {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
p {
    font-size: 16px;
    color: #A0A0A0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.playlist:hover {
    background-color:rgba(255,255,255,0.3);
    color: black;
    cursor: pointer;
}

.tracks-page{
    padding-top: 80px;
    width: 100%;
}

.song-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 16px 24px;
    border-radius: 15px;
    transition: 0.2s;
}
.song-card:hover {
    background-color: rgba(94,94,94,0.5);
}

.song-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    width:60%;
}

.play-button {
    width: 5%;
}

.song-and-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
}

.song-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: 30px;
}

.album {
    width: 30%;
}

.create-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 64px;
}

.grey-button {
    border-color: #A0A0A0;
    color: #A0A0A0;
}

button {
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  font-family: Effra, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: 150ms;
  border: 3px solid;
  background-color: rgba(0,0,0,0);
  border-color: white;
  color: white
}

button:hover {
    background-color: #31A744;
    border-color: #31A744;
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
}

audio {
    display: none;
}